<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LdapAuth.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LdapAuth.Settings>
      <setting name="Port" serializeAs="String">
        <value>389</value>
      </setting>
      <setting name="Login" serializeAs="String">
        <value>cn=manager,dc=inmetrics,dc=com,dc=br</value>
      </setting>
      <setting name="BaseDn" serializeAs="String">
        <value>ou=Users,dc=inmetrics,dc=com,dc=br</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>1dg07lvh</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>10.10.1.19</value>
      </setting>
    </LdapAuth.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
<!--<value>ldap-homolog.inmetrics.com.br</value>-->
<!--<value>ldap.inmetrics.com.br</value>-->
<!--<value>1dg07lvh</value>-->
<!--<value>Inmetrics1502</value>-->
